extends layout

block content
  // h1= title
  p Welcome to #{title}
  h2 Quickstart Guide!
  ol
    li Install the tuneinwith.me Spotify app.
    li Choose a room name and switch rooms.
    li Share the resulting link with your friends!
    li Search and queue music from the app or website and get playing!
