doctype html
html
  head
    title= title
    link(rel='stylesheet', type='text/css', href='https://netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css')
    script(type='text/javascript', src='https://cdn.firebase.com/js/client/1.0.2/firebase.js')
    script(type='text/javascript', src='https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js')
    script(type='text/javascript', src='/liveDJ.js')

  body
    a(href="http://localhost:3000")
      h1 liveDJ
    center
    block content
    block footer