extends layout

block content

    form(role='form')
        .form-group
            label(for='input') Song Spotify URL
            input#songinput( type='text', placeholder='spotify:track:…')
          button#submitSong.btn.btn-default(type='submit', onclick='LiveDJ.submitSong(); return false;') ADD
