extends layout

block content

    #albumContainer
        img#albumimage.album(alt='sample')
        #titleContainer
        #inputfield
            form(role='form', method="post", action="/change")
              .form-group
                label(for='input') Room ID
                input#roominput.form-control.flasher(type='text',name='room', placeholder='room:…')
              button#submitRoom.btn.btn-default(type='submit') Change Room
            br
        #inputfield
            form(role='form')
              .form-group
                label(for='input') Song Spotify URL
                input#songinput.form-control.flasher(type='text', placeholder='spotify:track:…')
              button#submitSong.btn.btn-default(type='submit', onclick='LiveDJ.search($("#songinput").val()); return false;') Search
            br
        #searchDiv
        #queueDiv


