extends layout

block content
        #albumContainer
            img#albumimage.album(alt='sample')
            #titleContainer
            #queueCont
                b Queue:
                #queueDiv
            #inputfield
                form(role='form', method="post", action="/change")
                  label(for='input') Room ID
                  br
                  .form-group.input-group
                    input#roominput.form-control.flasher(type='text',name='room', placeholder='room:…')
                    span.input-group-btn
                        button#submitRoom.btn(type='submit') Change Room
            #inputfield
                form(role='form')
                  label(for='input') Song Spotify URL
                  br
                  .form-group.input-group
                    input#songinput.form-control.flasher(type='text', placeholder='Search a Song!')
                    span.input-group-btn
                        button#submitSong.btn(type='submit', onclick='LiveDJ.search($("#songinput").val()); return false;') Search
            #searchDiv


