body {
    padding: 2em;
    font-family: 'Open Sans', sans-serif;
    color: white;
    background: rgb(69,72,77); /* Old browsers */
    background: -moz-linear-gradient(top,  rgba(69,72,77,1) 0%, rgba(0,0,0,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(69,72,77,1)), color-stop(100%,rgba(0,0,0,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(69,72,77,1) 0%,rgba(0,0,0,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(69,72,77,1) 0%,rgba(0,0,0,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(69,72,77,1) 0%,rgba(0,0,0,1) 100%); /* IE10+ */
    background: linear-gradient(to bottom,  rgba(69,72,77,1) 0%,rgba(0,0,0,1) 100%); /* W3C */
    background-size: 100%;
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#45484d', endColorstr='#000000',GradientType=0 ); /* IE6-9 */
}
img.album {
    display: inline;
    margin: 0;
    background-color: white;
}
#albumContainer{
    max-width:400px;
    margin-left: auto;
    margin-right: auto;
}
#container{
    max-width: 600px;
}
#queueDiv{
    max-height: 200px;
    overflow: scroll;
}
#queueDiv::-webkit-scrollbar{
    width:0;
}
#headerTitle{
    color: #A947C4;
}
.form-control.flasher {
    background-color: white;
    -webkit-transition: background-color 0.9s linear;
            transition: background-color 0.9s linear;
}
.form-control.flasher.flash {
    background-color: #FFE68F;
    -webkit-transition: background-color 0s linear;
            transition: background-color 0s linear;
}

#albumimage{
    padding: 5px;
    max-width: 400px;
    box-shadow: 1px 1px 2px 2px #505050;

}

#titleContainer{
    text-align: center;
}

.searchResult{
    border-style: solid;
    border-width: 1px;
    border-color: #C0C0C0;
    background-color: #E0E0E0;
    margin: 5px;
    border-radius: 5px;
    padding: 5px;
    cursor: pointer;
    opacity: 0;
    color: blac;k
    transition: linear .1s;
}

.searchResult:hover{
    opacity: .5;
}
#inputfield{
    display: table-row;
}
input {
    display: table-cell;
}
button {
    display: table-cell;
}
a{
    color: white;
}